<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <title>Edit Pokemon</title>
</head>
<body>
  <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c31e.png" alt="pokeball">
  <h1>Edit Pokemon</h1>
  <div class="links">
    <a href="/">Pokemon Home</a>
    <a href="/pokemon">All Pokemon</a>
  </div>
  <form class="create-pokemon" action="/pokemon/{{id}}?_method=PUT" method="POST" >
    <label for="name">
      Name: <input type="text" name="name" id="name" value="{{name}}"/>
    </label>
    <label for="type1">
      Type 1: <input type="text" name="type1" id="type1" value="{{type1}}"/>
    </label>
    <label for="type2">
      Type 2: <input type="text" name="type2" id="type2" value="{{type2}}"/>
    </label>
    <label for="hitpoints">
      Hitpoints: <input type="number" min=0 name="hitpoints" id='hitpoints' value="{{hitpoints}}"/>
    </label>
    <label for="attack">
      Attack: <input type="number" min=0 name="attack" id='attack' value="{{attack}}"/>
    </label>
    <label for="defense">
      Defense: <input type="number" min=0 name="defense" id='defense' value="{{attack}}"/>
    </label>
    <label for="speed">
      Speed: <input type="number" min=0 name="speed" id='speed' value="{{speed}}"/>
    </label>
    <label for="legendary">
      Legendary: <input type="checkbox" value="true" name='legendary' id='legendary' {{legendary}}>
    </label>
    <label for="img">
      Image URL: <input type="url" name="img" id="img" value="{{img}}"/>
    </label>
    <button type="submit">Submit Update</button>
  </form>
</body>
</html>