*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

div.home{
  width: 100%;
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/Ia5HD7J.jpg');
  background-size: cover;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.home>a{
  color: white;
  font-size: 5em;
  box-shadow: 0px 5px 40px black;
  font-family: fantasy;
  background-color: rgba(0,0,0,.5);
  padding: 20px;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: #a51c1c;
}

a:hover{
  font-weight: bold;
}

.links>a{
  padding: 10px;
}

.pokelist{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 20px;
}

.pokelist>a{
  display: flex;
  width: 22%;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #e2e2e2;
  justify-content: space-between;
  text-decoration: none;
}

.pokelist>a>img{
  width: 90%;
  margin: 10px 0;
}

.pokelist>a>h3{
  color: white;
  background-color: #a51c1c;
  width:100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
  text-decoration: none;
}

.show-pokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-pokemon img{
  height: 30vh;
  padding:20px;
}
.pokemon-traits{
  background-color: #a51c1c;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-traits p{
  padding: 10px 20px;
  margin: 10px;
}

form{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 30px auto;
  min-width: 280px;
}

label input{
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  width: 60%;
  margin-right: 15px;
}

form>label{
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

form>button{
  margin: 20px 5px;
  padding: 8px 5px;
  font-size: 1em;
  background-color: white;
  color: #a51c1c;
  border: 2px solid #a51c1c;
}

form>button:hover{
  background-color: #a51c1c;
  color: white;
  cursor: pointer;
}
